body{
    background-image: url("rtb99.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 1800px 2000px;
}

.search-hr {
    margin-top: 0px;
}

.search-results-navtab {
    padding-left: 0px;
    margin-left: 32px;
    margin-right: 70px;
    margin-bottom: 1px;
    list-style: none;
    border: 0px !important;
    display: flex;
}

.search-list-class {
    padding-right: 100px;
}

.container{
    text-align: center;
    font-size: large;
    font-weight: 800;
    font-family: Gungsuh;
    color: #030505;
display: flexbox;
}
.container1{
 text-align: right;
 text-align: center;
    font-size: large;
    font-weight: 800;
    font-family: Gungsuh;
    color: #ffffff;
display: flexbox;
}
.box{
    display: flex;
}
.box1{
    text-align: right;
}
.box2{
    text-align: left;
    font-size: large;
    font-weight: 800;
    font-family: Gungsuh;
    color:  #ffffff;

}
.BOX{
    display: flex;
}
.box3{
    text-align: left;
}
.box4{
    text-align: left;
    font-size: large;
    font-weight: 800;
    font-family: Gungsuh;
    color:  #FFFFFF;
    display: flex;
}

.box5{
    text-align: left;
}
.box7{
    text-align: center;
    font-size: large;
    font-weight: 800;
    font-family: Gungsuh;
    color:  #ffffff;

}
.box6{
    text-align: right;
}
.BOX1{
    display: flex;
}
/* The sidebar menu */
.sidenav {
    height: 50%; /* Full-height: remove this if you want "auto" height */
    width: 175px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 40; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
    font-family: sans-serif;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}